{
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "off"
    ],
    "vue/multi-word-component-names": "off",
    "semi": [2, "always"]

  }
}