body {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 360px;
    padding: 0px 20px;
a {
    text-decoration: none;
    color: #000000;
}
ul{
margin: 0;
padding: 0;
}
li{
list-style-type: none;
}
button{
    cursor: pointer;
    &:hover {
        color: #557fe8;
        border-color: #557fe8;
      }
}
}